

.heading{
line-height: 0px;

}
.copyright{
   margin-top:0px;
  
   
    
}



.tb2{

    border:2px solid black;
    border-collapse: collapse;
    background-color: lightgray;
}

.gap{
width:45px;
height:45px;

}
